<?xml version="1.0" encoding="UTF-8"?>

<solver>

    <!-- Domain model configuration -->
    <solutionClass>com.windfarmplanner.Route</solutionClass>
    <entityClass>com.windfarmplanner.Task</entityClass>
    <entityClass>com.windfarmplanner.Standstill</entityClass>

    <!-- Score configuration -->
    <!-- TODO: -->
    <scoreDirectorFactory>
        <easyScoreCalculatorClass>com.windfarmplanner.ScoreCalculator</easyScoreCalculatorClass>
        <!-- TODO: potential drool file | example below -->
        <!--<scoreDrl>org/optaplanner/examples/cloudbalancing/solver/cloudBalancingConstraints.drl</scoreDrl>-->
    </scoreDirectorFactory>

    <constructionHeuristic>
        <constructionHeuristicType>FIRST_FIT_DECREASING</constructionHeuristicType>
    </constructionHeuristic>
    
    <localSearch>
        <unionMoveSelector>
            <changeMoveSelector/>
            <swapMoveSelector/>
            <subChainChangeMoveSelector>
                <selectReversingMoveToo>true</selectReversingMoveToo>
            </subChainChangeMoveSelector>
            <subChainSwapMoveSelector>
                <selectReversingMoveToo>true</selectReversingMoveToo>
            </subChainSwapMoveSelector>
            <!-- TODO use nearby selection to scale out -->
        </unionMoveSelector>
        <acceptor>
            <lateAcceptanceSize>400</lateAcceptanceSize>
        </acceptor>
        <forager>
            <acceptedCountLimit>20</acceptedCountLimit>
        </forager>
    </localSearch>

    <!-- Optimization algorithms configuration -->
    <termination>
        <!-- <secondsSpentLimit>1</secondsSpentLimit> -->
        <millisecondsSpentLimit>100</millisecondsSpentLimit>
    </termination>

</solver>